html {
  background-color: var(--bg-0);
  font-family: var(--font-sans);
}

.date-input-wrapper {
  position: relative;
  flex: 1;
}

.date-input-wrapper input[type='date'] {
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  box-sizing: border-box;
}

.date-input-wrapper .calendar-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
